<!--주문내역 메일 발송 시 보낼 html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        div {
            color: blue;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <h1>주문내역</h1>
    <h1>Memo </h1><h1 th:text="${memo}"></h1>
    <h1>orderDate </h1><h1 th:text="${date}"></h1>
    <h1>total </h1><h1 th:text="${total}"></h1>
    <h1>total </h1><h1 th:text="${item_profile}"></h1>

    <h2>some content...</h2>
    <div>css test...</div>
</body>
</html>