<!--주문내역 메일 발송 시 보낼 html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        div {
            color: blue;
            font-size: 50px;
        }
    </style>
</head>
<body>
    <h1 th:text="${orderName}">님의 주문내역</h1>
<!--    <h1 th:text="${orderName}님의 주문내역"></h1>-->
    <h1>orderDate </h1><h1 th:text="${#temporals.format(date,'yyyy-MM-dd HH:mm')}"></h1>
    <h1>total </h1><h1 th:text="${total}"></h1>
    <h1>Memo </h1><h1 th:text="${memo}"></h1>
<!--    <h1 th:text="주문시간  ${date}>orderDate"></h1>-->
<!--    <h1 th:text="주문하신 상품의 총 금액은 ${total}원 입니다."></h1>-->
<!--    <h1>image </h1><img src="${orders['order_id'].getItemEntity().getItemProfile()}">-->
</body>
</html>